html
    head
        title BKHospital
        link(rel='stylesheet', href='/styles/animation.css')
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    body(style=" background: linear-gradient(to right, #ffefba, #ffffff);")
        .d-flex.justify-content-center.align-items-center.h-50
            img.rounded.w-25(src="/images/logo.png" alt="")
        .d-flex.justify-content-center.align-items-center.h-25
            p.fs-1.text-white(style="text-shadow: 2px 2px 8px #000000;") BKHOSPITAL
        .d-flex.justify-content-center.align-items-start.h-25
            a.btn.btn-outline-primary(style="width: 100px;", href="/login") Login